body {
	margin: 0;
}

.font1 {
	font-family: 'Open Sans', sans-serif;
}

.font2 {
	font-family: 'Bebas Neue', cursive;
}

section {
	height: 100vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.home-section {
	background-image: url(images/bg\ image\ 1.jpg);

}

.icon1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon1 img {
	width: 60%;

}

.icon2 {
	display: flex;
	align-items: center;

}

.icon2 img,
div,
form {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar {
	position: fixed;
	display: flex;
	justify-content: space-around;
	height: 85px;
	/* left: 3%;
	right: 3%; */
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav a {
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

/* select {
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	color: white;
} */


#select-language {
	outline: none;
	display: block;
	width: 100%;
	color: white;
	background-color: transparent;
	border: none;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#select-language option {
	outline: none;
	background-color: #74521f;
	border: none;
}



.scale {

	width: 2px;
	height: 30px;
	background-color: #FFFFFF;
	opacity: 0.5;
	border-radius: 20px;
}

.home-details {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home-details h1 {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 80px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: -15px;
}

.home-details h3 {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 2px;
	margin-bottom: 45px;
}

.home-button {
	display: flex;
	justify-content: center;
}

.link-button {
	padding: 10px 40px;
	background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
	border-radius: 4px;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #1A1917;
}


.battle-section {
	background-image: url(images/bg\ image\ 2.jpg);
}